img{
  width: 350px;
  height: 400px;
  border-radius: 25px;
  margin-left: 80px;
}

.bor{
  width: 400px;
  height: 450px;
  border: 12px solid rgb(255, 162, 0);
  border-radius: 25px;
  margin-left: 80px;
}
.ms{
  margin-left: 250px;
}
.s{
  vertical-align: top;
  margin-top: 250px;
}
.a{
  vertical-align: top;
  margin-top: 350px;
}
