<div class="container-fluid my-5">
  <div class="w-50 d-inline-block s">
    <div class=" d-inline-block position-relative">
      <div class="position-absolute bor"></div>
      <img src="/img/msd3.jpeg" alt="" class="position-absolute" />
    </div>
  </div>
  <div class="w-50 d-inline-block a">
    <h3 class="text-warning">About<span class="text-light">me</span></h3>
    <br />
    <h4 class="text-light">
      I am a postgraduate student in English literature and I have completed in
      Python Fullstack developing course
    </h4>
    <br />
    <button class="btn btn-warning ms-2">Contacts</button>
  </div>
</div>
