<div class="mt-5 bg-suc row">
    <h2 class="text-light ms">Contact <span class="text-warning">Me</span></h2>
    <h6 class="text-light hs6">Hi Guys I have completed Python Fullstack developing I am seeking for a Job
    </h6>
    <div class=" col ms2 mt-5">
        <h4 class="text-light">Address: <span class="text-warning">D.no:16 AVPL Street Karaikudi Sivaganga </span></h4>
        <h4 class="text-light">Phone: <span class="text-warning">9344313075</span></h4>
        <h4 class="text-light">Email: <span class="text-warning">rkalaimanikalaimani&#64;gmail.com</span></h4>
    </div>
    <div class=" col ms2 mt-5">
        <div class="my-3">
            <input type="text" placeholder="Name" name="" id=""><br>
        </div>
        <div>
            <textarea name="text" placeholder="Messages" id=""></textarea>
            <br>
            <button class="btn btn-warning">Submit</button>
    </div>
</div>