<div class="container-fluid r">
    <h1 class="text-light">Re<span class="text-warning">sume</span></h1>
    <br>
 <div class="row d-inline-block">
    <h5 class="text-light">Technical<span class="text-warning">skill</span></h5>
    <br>
    <ul>
    <li><i class="fa-brands fa-html5 text-warning"></i> HTML 5</li>
    <li><i class="fa-brands fa-css3-alt text-warning"></i> CSS 3</li>
    <li><i class="fa-brands fa-js text-warning"></i> Javascript</li>
    <li><i class="fa-brands fa-angular text-warning"></i> Angular</li>
    <li><i class="fa-brands fa-python text-warning"></i> Python</li>
    <li> Django</li>
    <li><i class="fa-solid fa-database text-warning"></i>Mysql</li>
    <li><i class="fa-solid fa-database text-warning"></i>MongoDB</li>
</ul>
 </div>
 <div class="row d-inline-block text-light"> <h5>Soft<span class="text-warning">skill</span></h5>
    <br>
<ul>
    
    <li> Effective Communication</li>
    <li>Time management</li>
    <li>Team work</li>
    <li>Public Relationship</li>
    
</ul></div>
 <div class="row d-inline-block text-light"> <h5>Educa<span  class="text-warning">tion</span></h5>
    <br>
<h5 class="text-warning b">      
    M.A English Literature 
</h5>
<p class="b">Sree sevugan Annamalai collage in Devakottai</p>
<h5 class="text-warning b">      
    Hsc
</h5>
<p class="b">Goverment Higher Secondary School in Ariyakudi</p>
<h5 class="text-warning b">      
    SSLC
</h5>
<p class="b">Sree Meenakshi Sundareshwarar Vidhyasala Higher Secondary School in Karaikudi</p>
</div>
</div>

   
