.row{
    width: 350px;
    height: 310px;
   vertical-align: top;
    margin-left: 105px;
    border-radius: 25px;
    background-color: black;
}
.r{
    margin-top: 300px;
}
h1{
    margin-left: 100px;
}
li{
    color: white;
    margin-left: 10px;
}
.b{
    font-size: 15px;
}