

<div class="homdiv">
  <div class="h5mt w-50 d-inline-block mr">
    <h5 class="text-warning ms-5">Hello.welcome</h5>
    <br />
    <h1 class="text-light ms-5">Hai I am kalaimani</h1>
    <br />
    <h4 class="text-light ms-5 h4te">
      I am a Fullstack Developer
    </h4>
    <br />
    <button class="btn btn-warning ms-5" >Contacts</button>
  </div>
  <div class="h5mt w-50 d-inline-block position-relative">
    <div class="position-absolute bor"></div>
    <img src="/img/image1.jpeg" alt="" class="position-absolute" />
  
  </div>
</div>
